
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2{ 
    font-size: 20px;
    color: black;
    font-weight: 700;
}


.header {
    background-color: red;
    width: 100%;
    height: 69px;
}

.choice1 {
    width: 100%;
    height: 142px;
    display: inline-block;
    position: relative;
} 

.choice1 img {
    width: 100%;
    height: 100%;
}

.choice1 div {
    color: #FFFFFF;
    height: 54px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    position: absolute;
    top: 60px;
    left: 25%;
    left: center;
    text-align: center;
}

.quizz {
    background-color: #FFFFFF;
    width: 760px;
    height: 676px;
    padding: 18px 28px 23px 28px;
    margin: 50px auto;
}

.quizz-header {
    background-color: #434CA0;
    width: 100%;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 18px;
}

.quizz-content {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quizz-content img {
    width: 330px;
    height: 175px; font-weight: 700;
    line-height: 23px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

header{
    width: 100%;
    height: 69px;
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header div{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
header h1 {
    font-weight: 700;
    font-size: 37px;
    color: white;
    align-items: center;
}

.personalquizz ,.personalquizzfull{
    margin-top: 30px;
    margin-bottom: 50px;
    width: 1051px;
    height: 181px;
    background: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    
}
.allQuizz ion-icon{
    color: #EC362D;
    font-size: 30px;
    margin-left: 5px;
    cursor: pointer;
}
.allQuizz{
    width: 1051px;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    display: flex;
    align-items: center;
}
    

.personalquizz p{
    font-weight: 400;
    font-size: 20px;
    width: 250px;
    height: 107px;
    align-items: center;
    display: flex;
    text-align: center;
    color: 
    #B9B9B9;
}
.personalquizz button{
    color: #EC362D;;
    width: 151px;
    height: 40px;
    background: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    cursor: pointer;

}
.allpersonalquizz{
    width: 1051px;
    height: 382px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}
.quizzlist{
    width: 1051px;
    height: 382px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.quizzlist li ,img{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    margin: 5px;
}
.quizzlist li{
    position: relative;
    
}
.quizzlist li:hover{
    cursor: pointer;
}
.shadow{
    position: absolute;
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
}
.namequizz{
    font-weight: 400;
    font-size: 19px;
    color: white;
    width: 340px;
    height: auto;
    position: absolute;
    bottom: 20px;
    text-align: center;
    word-break: break-all;
}
.hide {
    display: none;
}
.title {
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    margin: 10px 0;
    
}

.basic-infos {
    position: absolute;
    padding-top: 21px;
    padding-left: 20px;
    padding-bottom: 24px;
    width: 100%;
    height: 270px;
    background-color: #FFFFFF;
    top: 160px; 
    left: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
input {
    width: 95%;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-style: italic;
    margin-bottom: 14px;
    color: #BABABA;
    font-weight: 400;
    font-size: 19px;
}

.button {
    position: absolute;
    height: 54px;
    width: 324px;
    left: 25px;
    top: 450px;
    border-radius: 15px;
    background-color: #EC362D;
    color: #FFF5F4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonLevels {
    height: 54px;
    width: 324px;
    border-radius: 15px;
    background-color: #EC362D;
    color: #FFF5F4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px auto 20px auto;

}

.incorrect {
    margin-bottom: 20px;
}

.question,
.level {
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 22px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.3s linear;
}
.question ion-icon {
    font-size: 32px;
}
.level ion-icon {
    font-size: 32px;
}

textarea{
    resize: none;
    width: 95%;
    height: 177px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    font-weight: 400;
    font-size: 19px;
    font-style: italic;
    color:#BABABA
}

.levels {
    width: 100%;
    height: 439px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding-left: 20px;
    padding-top: 1px;
    margin-bottom: 20px;
}

.levels h2 {
    margin-bottom: 15px;
    margin-top: 25px;
}


@media (max-width: 1100px) {
    .quizz {
        width: 100vw;
        height: 436px;
        padding: 18px 17px 11px 17px;
        margin-bottom: 12px;
    }

    .quizz-header {
        width: 100vw;
        font-size: 19px;
        line-height: 22px;
    }

    .quizz-content img {
        width: 163px;
        height: 113px;
    }

    .picture div {
        font-size: 13px;
        line-height: 15px;
    }

}

@media (min-width: 1100px){
    .basic-infos{
        width: 600px;
        height: 265px;
        margin: 0 auto;
        position: inherit;
    }
    .button{
        position: inherit;
        margin: 40px auto 0 auto;
    }
    .questions {
        height: 825px;
        width: 600px;
        margin: 0 auto 20px auto;
    }
    .level,
    .question{
        width: 600px;
        margin: 0 auto 22px auto;
    }
    .levels {
        width: 600px;
        margin: 0 auto 20px auto;
    }
}